<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target includeMode="feature" name="workspace-e4" sequenceNumber="16">
	<locations>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="http://download.eclipse.org/eclipse/updates/4.15"/>
			<unit id="org.eclipse.equinox.executable" version="3.8.700.v20200207-2156"/>
			<unit id="org.eclipse.equinox.executable.feature.group" version="3.8.700.v20200207-2156"/>
			<unit id="org.eclipse.equinox.p2.rcp.feature.feature.group" version="1.4.700.v20200222-1600"/>
			<unit id="org.eclipse.help.feature.group" version="2.3.100.v20200305-0155"/>
			<unit id="org.eclipse.platform.feature.group" version="4.15.0.v20200305-0155"/>
			<unit id="org.eclipse.rcp.feature.group" version="4.15.0.v20200305-0155"/>
			<unit id="org.eclipse.rcp.source.feature.group" version="4.15.0.v20200305-0155"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/tools/orbit/downloads/drops/R20200224183213/repository"/>
			<unit id="org.junit" version="4.13.0.v20200204-1500"/>
			<unit id="org.slf4j.api" version="1.7.30.v20200204-2150"/>
			<unit id="ch.qos.logback.classic" version="1.1.2.v20171220-1825"/>
			<unit id="ch.qos.logback.core" version="1.1.2.v20200204-2150"/>
			<unit id="ch.qos.logback.slf4j" version="1.1.2.v20160301-0943"/>
		</location>
	</locations>
</target>