<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?><!--
    Copyright (c) 2010 LogSaw project and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
       LogSaw project committers - initial API and implementation
 -->

<plugin>
   <extension-point id="dialectWizardPageFactory" name="%DialectWizardPageFactory.name" schema="schema/dialectWizardPageFactory.exsd"/>
	<extension point="org.eclipse.ui.perspectives">
		<perspective name="%DefaultPerspective.name"
			class="net.sf.logsaw.ui.perspectives.DefaultPerspective" id="net.sf.logsaw.ui.perspectives.DefaultPerspective" />
	</extension>
	<extension point="org.eclipse.ui.views">
		<category name="%ViewCategory.name" id="net.sf.logsaw.ui.views.DefaultCategory" />
		<view
        category="net.sf.logsaw.ui.views.DefaultCategory"
        class="net.sf.logsaw.ui.views.LogResourcesView"
        icon="icons/resources_view.gif"
        id="net.sf.logsaw.ui.views.LogResourcesView"
        name="%LogResourcesView.name"
        restorable="true"/>
  <view
        category="net.sf.logsaw.ui.views.DefaultCategory"
        class="net.sf.logsaw.ui.views.StacktraceFieldView"
        icon="icons/stacktrace_view.gif"
        id="net.sf.logsaw.ui.views.StacktraceFieldView"
        name="%StacktraceFieldView.name"
        restorable="true">
  </view>
  <view
        category="net.sf.logsaw.ui.views.DefaultCategory"
        class="net.sf.logsaw.ui.views.MessageFieldView"
        icon="icons/message_view.gif"
        id="net.sf.logsaw.ui.views.MessageFieldView"
        name="%MessageFieldView.name"
        restorable="true">
  </view>
	</extension>
 <extension
       point="org.eclipse.ui.editors">
		<editor
        	class="net.sf.logsaw.ui.editors.LogViewEditor"
        	icon="icons/browser_view.gif"
        	id="net.sf.logsaw.ui.editors.LogViewEditor"
        	name="%LogViewEditor.name"/>
 </extension>
 <extension
       point="org.eclipse.ui.commands">
    <category
          id="net.sf.logsaw.ui.commands.DefaultCategory"
          name="%CommandCategory.name">
    </category>
    <command
          categoryId="net.sf.logsaw.ui.commands.DefaultCategory"
          id="net.sf.logsaw.ui.commands.OpenLogResourceCommand"
          name="%OpenLogResourceCommand.name">
    </command>
    <command
          categoryId="net.sf.logsaw.ui.commands.DefaultCategory"
          id="net.sf.logsaw.ui.commands.PreviousPageCommand"
          name="%PreviousPageCommand.name">
    </command>
    <command
          categoryId="net.sf.logsaw.ui.commands.DefaultCategory"
          id="net.sf.logsaw.ui.commands.NextPageCommand"
          name="%NextPageCommand.name">
    </command>
    <command
          categoryId="net.sf.logsaw.ui.commands.DefaultCategory"
          id="net.sf.logsaw.ui.commands.AddLogResourceCommand"
          name="%AddLogResourceCommand.name">
       <commandParameter
             id="net.sf.logsaw.ui.commands.AddLogResourceCommand.filename"
             name="%AddLogResourceCommand.filename.name"
             optional="true">
       </commandParameter>
    </command>
    <command
          categoryId="net.sf.logsaw.ui.commands.DefaultCategory"
          id="net.sf.logsaw.ui.commands.SynchronizeLogResourceCommand"
          name="%SynchronizeLogResourceCommand.name">
    </command>
    <command
          categoryId="net.sf.logsaw.ui.commands.DefaultCategory"
          id="net.sf.logsaw.ui.commands.RemoveLogResourceCommand"
          name="%RemoveLogResourceCommand.name">
    </command>
    <command
          categoryId="net.sf.logsaw.ui.commands.DefaultCategory"
          id="net.sf.logsaw.ui.commands.GoToPageCommand"
          name="%GoToPageCommand.name">
       <commandParameter
             id="net.sf.logsaw.ui.commands.GoToPageCommand.pageNumber"
             name="%GoToPageCommand.pageNumber.name"
             optional="false">
       </commandParameter>
    </command>
    <command
          categoryId="net.sf.logsaw.ui.commands.DefaultCategory"
          id="net.sf.logsaw.ui.commands.ShowFilterSettingsCommand"
          name="%ShowFilterSettingsCommand.name">
       <commandParameter
             id="net.sf.logsaw.ui.commands.ShowFilterSettingsCommand.newField"
             name="%ShowFilterSettingsCommand.newField.name"
             optional="true">
       </commandParameter>
       <commandParameter
             id="net.sf.logsaw.ui.commands.ShowFilterSettingsCommand.newOperator"
             name="%ShowFilterSettingsCommand.newOperator.name"
             optional="true">
       </commandParameter>
       <commandParameter
             id="net.sf.logsaw.ui.commands.ShowFilterSettingsCommand.newValue"
             name="%ShowFilterSettingsCommand.newValue.name"
             optional="true">
       </commandParameter>
    </command>
    <command
          categoryId="net.sf.logsaw.ui.commands.DefaultCategory"
          id="net.sf.logsaw.ui.commands.TruncateLogResourceCommand"
          name="%TruncateLogResourceCommand.name">
    </command>
 </extension>
 <extension
       point="org.eclipse.core.expressions.propertyTesters">
    <propertyTester
          class="net.sf.logsaw.ui.commands.expressions.LogViewEditorPropertyTester"
          id="net.sf.logsaw.ui.expressions.LogViewEditorPropertyTester"
          namespace="net.sf.logsaw.ui.expressions.logViewEditor"
          properties="isNextPageAllowed,isPreviousPageAllowed,isFocusCellBackedByLogEntryField,isFocusCellTextNotEmpty"
          type="net.sf.logsaw.ui.editors.LogViewEditor">
    </propertyTester>
 </extension>
 <extension
       point="org.eclipse.ui.handlers">
    <handler
          class="net.sf.logsaw.ui.commands.handlers.NextPageHandler"
          commandId="net.sf.logsaw.ui.commands.NextPageCommand">
       <enabledWhen>
          <with
                variable="activeEditor">
             <test
                   property="net.sf.logsaw.ui.expressions.logViewEditor.isNextPageAllowed">
             </test>
          </with>
       </enabledWhen>
    </handler>
    <handler
          class="net.sf.logsaw.ui.commands.handlers.PreviousPageHandler"
          commandId="net.sf.logsaw.ui.commands.PreviousPageCommand">
       <enabledWhen>
          <with
                variable="activeEditor">
             <test
                   property="net.sf.logsaw.ui.expressions.logViewEditor.isPreviousPageAllowed">
             </test>
          </with></enabledWhen>
    </handler>
    <handler
          class="net.sf.logsaw.ui.commands.handlers.AddLogResourceHandler"
          commandId="net.sf.logsaw.ui.commands.AddLogResourceCommand">
    </handler>
    <handler
          class="net.sf.logsaw.ui.commands.handlers.OpenLogResourceHandler"
          commandId="net.sf.logsaw.ui.commands.OpenLogResourceCommand">
       <enabledWhen>
          <reference
                definitionId="net.sf.logsaw.ui.expressions.isSingleLogResourceSelection">
          </reference>
       </enabledWhen>
    </handler>
    <handler
          class="net.sf.logsaw.ui.commands.handlers.SynchronizeLogResourceHandler"
          commandId="net.sf.logsaw.ui.commands.SynchronizeLogResourceCommand">
       <enabledWhen>
          <reference
                definitionId="net.sf.logsaw.ui.expressions.isMultiLogResourceSelection">
          </reference>
       </enabledWhen>
    </handler>
    <handler
          class="net.sf.logsaw.ui.commands.handlers.RemoveLogResourceHandler"
          commandId="net.sf.logsaw.ui.commands.RemoveLogResourceCommand">
       <enabledWhen>
          <reference
                definitionId="net.sf.logsaw.ui.expressions.isMultiLogResourceSelection">
          </reference>
       </enabledWhen>
    </handler>
    <handler
          class="net.sf.logsaw.ui.commands.handlers.GoToPageHandler"
          commandId="net.sf.logsaw.ui.commands.GoToPageCommand">
       <enabledWhen>
          <with
                variable="activeEditorId">
             <equals
                   value="net.sf.logsaw.ui.editors.LogViewEditor">
             </equals>
          </with>
       </enabledWhen>
    </handler>
    <handler
          class="net.sf.logsaw.ui.commands.handlers.ShowFilterSettingsHandler"
          commandId="net.sf.logsaw.ui.commands.ShowFilterSettingsCommand">
       <enabledWhen>
          <with
                variable="activeEditorId">
             <equals
                   value="net.sf.logsaw.ui.editors.LogViewEditor">
             </equals>
          </with>
       </enabledWhen>
    </handler>
    <!-- Custom handlers for global Eclipse commands need activeWhen -->
    <handler
          class="net.sf.logsaw.ui.commands.handlers.CopyCellContentsHandler"
          commandId="org.eclipse.ui.edit.copy">
       <activeWhen>
          <with
                variable="activePartId">
             <equals
                   value="net.sf.logsaw.ui.editors.LogViewEditor">
             </equals>
          </with>
       </activeWhen>
       <enabledWhen>
          <with
                variable="activeEditor">
             <test
                   property="net.sf.logsaw.ui.expressions.logViewEditor.isFocusCellTextNotEmpty">
             </test>
          </with>
       </enabledWhen>
    </handler>
    <handler
          class="net.sf.logsaw.ui.commands.handlers.TruncateLogResourceHandler"
          commandId="net.sf.logsaw.ui.commands.TruncateLogResourceCommand">
       <enabledWhen>
          <reference
                definitionId="net.sf.logsaw.ui.expressions.isMultiLogResourceSelection">
          </reference>
       </enabledWhen>
    </handler>
 </extension>
 <extension
       point="org.eclipse.ui.menus">
    <menuContribution
          locationURI="toolbar:org.eclipse.ui.main.toolbar">
       <toolbar
             id="net.sf.logsaw.ui.toolbars.logResourcesView.main">
          <command
                commandId="net.sf.logsaw.ui.commands.AddLogResourceCommand"
                icon="icons/add_obj.gif"
                label="%AddLogResourceCommand.label"
                style="push">
             <visibleWhen
                   checkEnabled="false">
                <reference
                      definitionId="net.sf.logsaw.ui.expressions.isActivePerspective">
                </reference>
             </visibleWhen>
          </command>
       </toolbar>
       <toolbar
             id="net.sf.logsaw.ui.toolbars.logViewEditor.pagination">
          <command
                commandId="net.sf.logsaw.ui.commands.PreviousPageCommand"
                icon="icons/prev_page.gif"
                label="%PreviousPageCommand.label"
                style="push">
             <visibleWhen
                   checkEnabled="false">
                <reference
                      definitionId="net.sf.logsaw.ui.expressions.isActivePerspective">
                </reference>
             </visibleWhen>
          </command>
          <command
                commandId="net.sf.logsaw.ui.commands.NextPageCommand"
                icon="icons/next_page.gif"
                label="%NextPageCommand.label"
                style="push">
             <visibleWhen
                   checkEnabled="false">
                <reference
                      definitionId="net.sf.logsaw.ui.expressions.isActivePerspective">
                </reference>
             </visibleWhen>
          </command>
          <control
                class="net.sf.logsaw.ui.contributions.GoToPageContribution">
             <visibleWhen
                   checkEnabled="false">
                <reference
                      definitionId="net.sf.logsaw.ui.expressions.isActivePerspective">
                </reference>
             </visibleWhen>
          </control>
       </toolbar>
       <toolbar
             id="net.sf.logsaw.ui.toolbars.logViewEditor.options">
          <command
                commandId="net.sf.logsaw.ui.commands.ShowFilterSettingsCommand"
                icon="icons/filter.gif"
                label="%ShowFilterSettingsCommand.label"
                style="push">
             <visibleWhen
                   checkEnabled="false">
                <reference
                      definitionId="net.sf.logsaw.ui.expressions.isActivePerspective">
                </reference>
             </visibleWhen>
          </command>
       </toolbar>
    </menuContribution>
    <menuContribution
          locationURI="popup:net.sf.logsaw.ui.views.LogResourcesView">
       <command
             commandId="net.sf.logsaw.ui.commands.OpenLogResourceCommand"
             icon="icons/browser_view.gif"
             label="%OpenLogResourceCommand.label"
             style="push">
          <visibleWhen
                checkEnabled="false">
             <reference
                   definitionId="net.sf.logsaw.ui.expressions.isSingleLogResourceSelection">
             </reference>
          </visibleWhen>
       </command>
       <separator
             name="net.sf.logsaw.ui.separator1"
             visible="true">
       </separator>
       <command
             commandId="net.sf.logsaw.ui.commands.SynchronizeLogResourceCommand"
             icon="icons/refresh_obj.gif"
             label="%SynchronizeLogResourceCommand.label"
             style="push">
          <visibleWhen
                checkEnabled="false">
             <reference
                   definitionId="net.sf.logsaw.ui.expressions.isMultiLogResourceSelection">
             </reference>
          </visibleWhen>
       </command>
       <command
             commandId="net.sf.logsaw.ui.commands.TruncateLogResourceCommand"
             icon="icons/truncate.gif"
             label="%TruncateLogResourceCommand.label"
             style="push">
          <visibleWhen
                checkEnabled="false">
             <reference
                   definitionId="net.sf.logsaw.ui.expressions.isMultiLogResourceSelection">
             </reference>
          </visibleWhen>
       </command>
       <command
             commandId="net.sf.logsaw.ui.commands.RemoveLogResourceCommand"
             icon="icons/delete_obj.gif"
             label="%RemoveLogResourceCommand.label"
             style="push">
          <visibleWhen
                checkEnabled="false">
             <reference
                   definitionId="net.sf.logsaw.ui.expressions.isMultiLogResourceSelection">
             </reference>
          </visibleWhen>
       </command>
       <separator
             name="net.sf.logsaw.ui.separator2"
             visible="true">
       </separator>
       <command
             commandId="org.eclipse.ui.file.properties"
             label="%PropertiesCommand.label"
             style="push">
          <visibleWhen
                checkEnabled="false">
             <reference
                   definitionId="net.sf.logsaw.ui.expressions.isSingleLogResourceSelection">
             </reference>
          </visibleWhen>
       </command>
    </menuContribution>
    <menuContribution
          locationURI="popup:net.sf.logsaw.ui.editors.LogViewEditor">
       <command
             commandId="org.eclipse.ui.edit.copy"
             label="%CopyCommand.label"
             style="push">
          <visibleWhen
                checkEnabled="false">
             <with
                   variable="activeEditor">
                <test
                      property="net.sf.logsaw.ui.expressions.logViewEditor.isFocusCellBackedByLogEntryField">
                </test>
             </with>
          </visibleWhen>
       </command>
       <menu
             icon="icons/filter.gif"
             label="%QuickFilterMenu.label">
          <dynamic
                class="net.sf.logsaw.ui.contributions.QuickFilterMenuContribution"
                id="net.sf.logsaw.ui.contributions.QuickFilterMenuContribution">
          </dynamic>
          <visibleWhen
                checkEnabled="false">
             <with
                   variable="activeEditor">
                <test
                      property="net.sf.logsaw.ui.expressions.logViewEditor.isFocusCellBackedByLogEntryField">
                </test>
             </with>
          </visibleWhen>
       </menu>
    </menuContribution>
    <menuContribution
          locationURI="menu:file?after=additions">
       <command
             commandId="net.sf.logsaw.ui.commands.AddLogResourceCommand"
             icon="icons/add_obj.gif"
             label="%AddLogResourceCommand.label"
             style="push">
          <visibleWhen
                checkEnabled="false">
             <reference
                   definitionId="net.sf.logsaw.ui.expressions.isActivePerspective">
             </reference>
          </visibleWhen>
       </command>
    </menuContribution>
 </extension>
 <extension
       point="org.eclipse.core.expressions.definitions">
    <definition
          id="net.sf.logsaw.ui.expressions.isActivePerspective">
       <with
             variable="activeWorkbenchWindow.activePerspective">
          <equals
                value="net.sf.logsaw.ui.perspectives.DefaultPerspective">
          </equals>
       </with>
    </definition>
    <definition
          id="net.sf.logsaw.ui.expressions.isMultiLogResourceSelection">
       <with
             variable="selection">
          <iterate
                ifEmpty="false"
                operator="and">
             <instanceof
                   value="net.sf.logsaw.core.logresource.ILogResource">
             </instanceof>
          </iterate>
       </with>
    </definition>
    <definition
          id="net.sf.logsaw.ui.expressions.isSingleLogResourceSelection">
       <with
             variable="selection">
          <and>
             <count
                   value="1">
             </count>
             <iterate
                   ifEmpty="false"
                   operator="and">
                <instanceof
                      value="net.sf.logsaw.core.logresource.ILogResource">
                </instanceof>
             </iterate>
          </and>
       </with>
    </definition>
 </extension>
 <extension
       point="org.eclipse.ui.propertyPages">
    <page
          class="net.sf.logsaw.ui.propertyPages.ColumnsPropertyPage"
          id="net.sf.logsaw.ui.propertyPages.ColumnsPropertyPage"
          name="%ColumnsPage.name">
       <enabledWhen>
          <adapt
                type="net.sf.logsaw.core.logresource.ILogResource">
          </adapt>
       </enabledWhen>
    </page>
    <page
          class="net.sf.logsaw.ui.propertyPages.ResourcePropertyPage"
          id="net.sf.logsaw.ui.propertyPages.ResourcePropertyPage"
          name="%ResourcePage.name">
       <enabledWhen>
          <adapt
                type="net.sf.logsaw.core.logresource.ILogResource">
          </adapt>
       </enabledWhen>
    </page>
    <page
          class="net.sf.logsaw.ui.propertyPages.DialectPropertyPage"
          id="net.sf.logsaw.ui.propertyPages.DialectPropertyPage"
          name="%DialectPage.name">
       <enabledWhen>
          <adapt
                type="net.sf.logsaw.core.logresource.ILogResource">
          </adapt>
       </enabledWhen>
    </page>
 </extension>
 <extension
       point="org.eclipse.core.runtime.adapters">
    <factory
          adaptableType="net.sf.logsaw.core.logresource.ILogResource"
          class="net.sf.logsaw.ui.model.LogResourceWorkbenchAdapterFactory">
       <adapter
             type="org.eclipse.ui.model.IWorkbenchAdapter">
       </adapter>
    </factory>
    <factory
          adaptableType="net.sf.logsaw.core.logresource.ILogResource"
          class="net.sf.logsaw.ui.model.LogResourceEditorInputAdapterFactory">
       <adapter
             type="org.eclipse.ui.IEditorInput">
       </adapter>
    </factory>
 </extension>
 <extension
       point="org.eclipse.ui.preferencePages">
    <page
          class="net.sf.logsaw.ui.preferencePages.MainPreferencePage"
          id="LogSawPreferencePage"
          name="%MainPreferencePage.name">
    </page>
 </extension>
</plugin>
